h3 {
  margin-top: 5%;
  margin-bottom: 5%;
}
.card {
  margin-bottom: 3%;
}

.card:hover {
  background-color: #007bff;
  text-decoration: none !important;
}

.card:hover a {
  color: white;
  text-decoration: none !important;
}
.card a:hover {
  color: white;
  text-decoration: none !important;
}
a {
  text-decoration: none !important;
}
